black
isort
matplotlib
pandas
polars
pandarallel
pyspark
requests
seaborn
statsmodels
wrds
scipy
scikit-learn
tqdm
plotly
pyarrow
linearmodels
loguru
clickhouse_driver
icecream
duckdb
altair
altair_saver
connectorx
polars[all]
jupyter
jupyterlab
pyreadstat
icecream
psycopg2-binary
openpyxl
rapidfuzz
