matplotlib
pandas
polars
pandarallel
pyspark
requests
seaborn
statsmodels
wrds
scipy
sklearn
tqdm
plotly
pyarrow
linearmodels
loguru
clickhouse_driver
icecream
duckdb
altair
altair_saver
connectorx
pyreadstat
jupyterlab
icecream
psycopg2-binary
